@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  /* Colors - By naming them --color-X, you get classes like bg-primary, text-foreground, etc. */
  --color-background: #ffffff;
  --color-foreground: oklch(0.145 0 0);
  --color-card: #ffffff;
  --color-card-foreground: oklch(0.145 0 0);
  --color-primary: #030213;
  --color-primary-foreground: oklch(1 0 0);
  --color-muted: #ececf0;
  --color-muted-foreground: #717182;
  --color-accent: #e9ebef;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-ring: oklch(0.708 0 0);
  
  /* Radii */
  --radius-lg: 0.625rem;
  --radius-md: calc(0.625rem - 2px);
  --radius-sm: calc(0.625rem - 4px);

  /* Fonts */
  --font-size-base: 16px;
}

/* Dark mode overrides */
.dark {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.985 0 0);
  --color-border: oklch(0.269 0 0);
}

@layer base {
  * {
    /* Using the variable defined in the theme */
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--font-size-base);
  }
}